* {
	display: block;
	vertical-align: top;
	font-family: 'Gudea', sans-serif;
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
}

label::after {
	content: "";
	display: block;
}

head {
	display: none;
}

input:invalid {
	background: #F0C060;
}

input:valid {
	background: white;
}

input:required {
	background: white;
}

fieldset {
	clear: left;
	width: 300px;
	margin-bottom: 5%;
	margin-left: 5%;
}

legend {
	color: #ED8561;
	font-size: 30px;
	font-family: 'Vibur', cursive;
}

body {
	margin: 5% 10% 5% 10%;
	border: 1em solid black;
}

/*Header*/
h1 {
	font-size: 5em;
	text-align: center;
	margin-top: 5%;
	font-family: 'Vibur', cursive;
}

img {
	position: relative;
	top: -9.5em;
	left: 62.5%;
	z-index: -1;
	opacity: 0.8;
	transform: scaleX(-1) rotate(30deg);
}

/*Main*/
#Vorschau {
	position: fixed;
	top: 75%;
	left: 55%;
}

#Mainav {
	border-bottom: 2px solid black;
	margin: -8% 5% 5% 5%;
}

li {
	float: left;
	margin: 2% 5% 5% 15%;
	padding: 1%;
}

#BestellungNav {
	background-color: #ED8561;
	padding: 1%;
	border-radius: .5em .5em .5em .5em;
}

/* Smartphone */
@media screen and (max-width:570px) {
	#Vorschau {
		position: static;
	}
	body {
		border: none;
	}
	#Mainav {
		margin: -25% 5% 5% 5%;
	}
}

/* Tablet */
@media screen and (min-width: 571px) {
	#Mainav {
		margin: -20% 5% 5% 5%;
	}
	#Vorschau {
		position: static;
	}
}

/* PC */
@media screen and (min-width: 800px) {
	#Mainav {
		margin: -8% 5% 5% 5%;
	}
	#Vorschau {
		position: fixed;
	}
}