* {
	display: block;
	vertical-align: top;
	font-family: 'Gudea', sans-serif;
}

input[type="radio"], input[type="checkbox"], label {
	display: inline;
}

label::after {
	content: "";
	display: block;
}

head {
	display: none;
}

input:invalid {
	background: #F0C060;
}

input:valid {
	background: white;
}

input:required {
	background: white;
}

fieldset {
	clear: left;
	width: 300px;
	margin-bottom: 5%;
	margin-left: 5%;
}

legend {
	color: #ED8561;
	font-size: 30px;
	font-family: 'Vibur', cursive;
}

#Hinweis{
	font-size: 0.75em;
}
body {
	margin: 5% 10% 5% 10%;
	border: 1em solid black;
}

/*Header*/
h1 {
	font-size: 5em;
	text-align: center;
	margin-top: 5%;
	font-family: 'Vibur', cursive;
}

img {
	position: relative;
	top: -9.5em;
	left: 62.5%;
	z-index: -1;
	opacity: 0.8;
	transform: scaleX(-1) rotate(30deg);
}

/*Main*/
#Warenkorb {
	position: absolute;
	top: 75%;
	left: 55%;
	background-color: white;
}

button{
	margin-top: 4%;
}
#Mainav {
	border-bottom: 2px solid black;
	margin: -8% 5% 5% 5%;
}

li {
	float: left;
	margin: 2% 5% 5% 8%;
	padding: 1%;
}

.arrow {
	margin: 2%;
}

#BestellungNav {
	background-color: #ED8561;
	padding: 1%;
	border-radius: .5em .5em .5em .5em;
}

a{
	text-decoration: none;
	color: black;
}

#uebersicht{
	border-radius: .5em .5em .5em .5em;
	background-color: #ED8561;
	max-width: 10em;
	height: 2em;
	text-decoration: none;
	color: black;
	margin: 5% 5% 10% 5%;
	padding: 1% 1% 0% 1%;
	text-align: center;
}
/*******************************************Smartphone**************************************************/
@media screen and (max-width:570px) {
	#Warenkorb {
		position: static;
	}
	body {
		border: none;
	}
	#Mainav {
		margin: -25% 5% 5% 5%;
	}
	.arrow {
		display: none;
	}
	li {
		clear: left;
	}
}

/********************************************Tablet*****************************************************/
@media screen and (min-width: 571px) {
	#Warenkorb {
		position: static;
	}
	.arrow {
		display: none;
	}
}

/**********************************************PC********************************************************/
@media screen and (min-width: 800px) {
	#Warenkorb {
		position: absolute;
	}
	.arrow {
		display: block;
	}
}