body {
	margin-left: 0;
	margin-right: 0;
	background-image: url("mikro1.jpg");
	background-repeat: inherit;
}

.headerpic {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -1;
	max-width: 100%;
}

.Hintergrund {
}

nav {
	
}